@model MvcWebDemo.Models.ViewModel.StudentViewModel
@{
    ViewBag.Title = "Detail";
}
<h2>Detail</h2>
<div>
    <div class="box box-primary">
        <div class="box-header">
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.ID) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.ID)</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.NAME) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.NAME)</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.ADDRESS) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.ADDRESS)</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.EMAIL) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.EMAIL)</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.TEL) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.TEL)</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Html.DisplayNameFor(model => model.MESSAGE) </div>
                <div class="profile-info-value">
                    <span class="editable" id="username">@Html.DisplayFor(model => model.MESSAGE)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix form-actions">
    <div class="col-md-offset-5 col-md-9">
        <button class="btn" type="button" onclick="location.href='@Url.Action("Index")'">
            <i class="ace-icon fa fa-reply icon-only"></i>
            返回
        </button>
    </div>
</div>