@model List<MvcWebDemo.Models.ViewModel.StudentViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<div class="clearfix form-actions">
    <div class="col-md-offset-5 col-md-9">
        <button class="btn" type="button" onclick="location.href='@Url.Action("Create")'">
            <i class="ace-icon fa fa-reply icon-only"></i>
            新增
        </button>
    </div>
</div>
<div class="box-body">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ADDRESS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().EMAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().TEL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().MESSAGE)
                </th>
                <th>
                    操作 
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MESSAGE)
                </td>
                <td>
                    <a class="red" href="@Url.Action("Detail", new {id = item.guid})">
                        檢視
                    </a>
                    <span> | </span>
                    <a class="red" href="@Url.Action("Edit", new {id = item.guid})">
                        修改
                    </a>
                    <span> | </span>
                    @if(item.ID!="D9938982")
                    {
                        <a class="red" href="@Url.Action("Delete", new { id = item.guid })">
                            刪除
                        </a>
                    }

                </td>
            </tr>
        }

    </table>
</div>